*.*~
*.swo
*.sql
*.swp
*~
tmp/*
tmp/sass-cache
tmp/pids
tmp/cache
tmp/capybara
tmp/sockets
public/uploads/*
vendor/bundle
vendor/plugins
vendor/cache
.bundle
config/database.yml
log/*
*.bill
.sass-cache
*.swn
*.swm
.DS_Store
.ruby-version
.ruby-gemset
config/secrets.yml
config/deploy.rb
config/deploy
Capfile
